*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    }
    
body {
    font-family: Oswald;
}
/*-----------------------------------The navbar/header-------------------------------------- */
header {
    background-color: black;
    width:100%;
    height: 100px;
    padding: 15px;
    display:flex;
    display: row;
    justify-content: space-between;
    align-items: center;
    /* for the navbar don't move*/
    position: fixed;
    top: 0;
    opacity: 60%; /* for see under the navbar*/
}

header>img {
    max-height: 1em;
}

#myLinks>a{
    color:white;
    text-decoration: none;
    margin: 5px;
}
.topnav>a{
    visibility: hidden;
}

#logos>i{
    color:white;
}

.topnav, i, header>img {
    height: 60%;
    transition-duration: 0.4s;
    cursor: pointer;/* change when the pointer is on it*/
    display: flex;
    align-items: center;
    
}

/*-----------------------------------The title-------------------------------------- */
#title{
    background-image: url(img/h5-gallery-img-3-477x477.jpg);
    background-repeat: no-repeat;
    border: 1px black solid;
    background-position: center; /* for have the image that "zoom" in the center*/
    background-size: cover; /* for the image fit completely in the contain*/
    height:100vh; /* make the background color fit on the screen*/
    display: flex;
    align-items: center;
    justify-content: center;
}



/*---------------------------------------------------The main------------------------------------------------------ */
main {
    width: 100%;
}
q{
    background-color:  #c59d5f;
    quotes: '"' '"' '"' '"';
    color:white;
    height:7em;
    padding:1.5em;
    font-size: 2.5em; 
    font-weight: bold;
    /* for the citation do a return */
    display: block; 
    align-content: center;
    
}
#traditionbeer, #pubstory{
    text-align: center;
    display: flex;  
    align-items: center; /* for center the text of the link part*/
    font-size: x-large; /* for grow the text*/
}
#traditionbeer>p , #pubstory>p{
    font-family: 'Raleway'; 
}
#traditionbeer>h5 , #pubstory>h5{
    font-family: 'Times New Roman', Times, serif; /* for change the police of the subtitle*/
    font-style: italic;
}
#traditionbeer>section>a, #pubstory>section>a{
    color: white;
    background-color: #d8bd71;
    padding: 0.5em;
    text-decoration: none;
    border-radius: 10%;
    padding-left: 2em;
    padding-right: 2em;
}
#traditionbeer>section>a:hover, #pubstory>section>a:hover{
    background-color: #ac8c5c;
}
#traditionbeer>img, #pubstory>img{
    width: 50%;
}
#traditionbeer>section, #pubstory>section{
    width:50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3em;
}
#traditionbeer>img{
    background-image: url(img/h5-el-holder-img-1-1.jpg);
    width: 100svh;
    height: 100dvh;
}
#pubstory>img{
    background-image: url(img/h5-el-holder-img-2.jpg);
    height: 100dvh;
}



/*-------------------The gallery---------------------- */
#galerie{
    width:100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    background-size: 25% 100%;
}
.image{
    overflow: hidden;
    background-color: #d8bd71;
    position: relative;
    z-index: 1;
    width: 25%;
    background-size: 30% 30%;
    background-position: center;
    background-repeat: no-repeat;
}
.image :hover {
    scale:1.2;
    position: relative;

    z-index: 2; /* for move forward the background*/
    opacity: 50%;
}
.image>i{
    position: absolute;
    top: 45%; /* for put the icon on the center of the image*/
    left: 45%;
    font-size: xxx-large;
    z-index: 0;
    /* color:green; */
    opacity: 0;
    
}
.image:hover i{ /* for change the display of the i when I go hover the image */
    transition-duration: 1.5s, 1.5s;/*the time of transition when I pass hover and stop */
    transform: rotate(90deg);
    top: 20%;
    left: 20%;
    opacity: 100%;
    color: blue;
}

/*-------------------The services---------------------- */
#serviceicons{
    padding: 4em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
    height: 40vh;
}
.serviceicon {
    width:15%;
    text-align: center;
    background: none;
    overflow: hidden;
}
.serviceicon>h5{
    margin-top: 1em;
}
.serviceicon>h5:hover{
    color: #d8bd71; /* for change the color of the text*/
}
.serviceicon>img:hover{
    filter: drop-shadow(8px 8px 10px #d8bd71);/* for make a shadow on the icon*/
}



/*-------------------The parralaxe---------------------- */
#parallaxe{
    color:white;
    background-image: url(img/h5-parallax-img-2.jpg);
    background-attachment: fixed;/*for the background don't move when I move the page*/
    background-repeat: no-repeat;
    background-size: cover;
    height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center; /* for center the text horizontally*/
    justify-content: center; /* for center the text vertically*/
}
#parallaxe>h2{
    font-size: xxx-large;
}

/*-------------------The frame---------------------- */
#iframe{
    background-color: black;
    background-size: 100% 100%;
    width:100%;
    height: 90;
}
#iframe>img{
    width: 100%;
}

/*---------------------------------------------------Footer------------------------------------------------------ */
footer{
    background-color: black;
    text-align: center;  
    height: 2.5em;
}



/*---------------------------------------------------responsive design------------------------------------------------------ */

@media screen and (max-width: 768px) { /* for the mobile et the little device*/

    /* -------------------The nav bar----------------------*/

        /* Style the navigation menu */
        .topnav {
            overflow: hidden;
            align-items: center;
            margin-top: 10em;
        }
        /* Hide the links inside the navigation menu (except for logo/home) */
        .topnav #myLinks {
            display: none;
        }
        /* Style navigation menu links */
        .topnav a {
            color: white;
            padding: 14px 16px;
            text-decoration: none;
            font-size: 17px;
            display: block;
            flex-direction: row;
            height: 3em;
            width: 5em;
            text-align: center;
        }
        /* Style the hamburger menu */
        .topnav a.icon {
            display: block;
            position: absolute;
            right: 0;
            top: 0;
        }
        /* Add a grey background color on mouse-over */
        .topnav a:hover {
            color: pink;
        }

    /*-------------------The title---------------------- */
    #title{
        background-size: 100% 100%;
        max-width: 100%;
        margin: 0;
    }
    #title>img{
        max-width: 100%;
    }
    /*-------------------The quote---------------------- */
    q{
        padding: 3%;
        height: fit-content;
    }
    /*-------------------Beer tradition and pubstory---------------------- */
    #traditionbeer, #pubstory{
        flex-direction: column;
        font-size: x-large;
    }
    #traditionbeer>section, #pubstory>section{
        width: 100%;
        padding: 1em;
    }
    #traditionbeer>section>h3, #pubstory>section>h3{
        font-size: xxx-large;
    }
    #traditionbeer>section>p, #pubstory>section>p{
        margin-bottom: 1em;
    }
    #traditionbeer>img, #pubstory>img{
        width:100%;
        height: fit-content;
    }
    /*-------------------The gallery---------------------- */
    #galerie{
        flex-wrap: wrap;
    }
    .image{
        width:100%;
        flex-wrap: wrap;
    }
    /*-------------------The icons service---------------------- */
    #serviceicons{
        margin: auto;
        padding: 1em;
        height: 75%;
        text-align: justify;
        flex-wrap: wrap;
    }
    .serviceicon{
        width:50%;
        padding: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 1em;
    }
    .serviceicon>h5:focus{
        color: #d8bd71; /* for change the color of the text*/
    }
    .serviceicon>img{
        width: 75%;
        margin: auto;
    }
    .serviceicon>img:focus{
        filter: drop-shadow(8px 8px 10px #d8bd71);/* for make a shadow on the icon*/
    }
    /*-------------------The parallaxe---------------------- */
    #parallaxe{
        padding:1em;
        text-align: center;
    }
    /*-------------------The iframe---------------------- */
    #iframe{
        overflow: hidden;
    }
    #iframe>img{
        height: 25em;
        display: inline-block; /* change the default display type to inline-block */
        scale: 3;
        
    }

}

@media screen and (min-width: 769px) and (max-width:1024px)  /* for the tablets*/
{/*-------------------The nav bar---------------------- */
        /* Style the navigation menu */
        .topnav {
            overflow: hidden;
            align-items: center;
            margin-top: 10em;
        }
        /* Hide the links inside the navigation menu (except for logo/home) */
        .topnav #myLinks {
            display: none;
        }
        /* Style navigation menu links */
        .topnav a {
            color: white;
            padding: 14px 16px;
            text-decoration: none;
            font-size: 17px;
            display: block;
            flex-direction: row;
            height: 3em;
            width: 5em;
            text-align: center;
        }
        /* Style the hamburger menu */
        .topnav a.icon {
            display: block;
            position: absolute;
            right: 0;
            top: 0;
        }
        /* Add a grey background color on mouse-over */
        .topnav a:hover {
            color: pink;
    }   

    /*-------------------The title---------------------- */
    #title{
        background-size: 100% 100%;
        min-width: 100%;
        margin: 0;
    }
    /*-------------------The quote---------------------- */
    q{
        padding: 3%;
    }
    /*-------------------Beer tradition and pubstory---------------------- */

    #traditionbeer>section, #pubstory>section{
        width: 50%;
    }
    #traditionbeer>section>h3, #pubstory>section>h3{
        font-size: xxx-large;
    }
    #traditionbeer>section>p, #pubstory>section>p{
        margin-bottom: 1em;
    }
    #traditionbeer>img, #pubstory>img{
        width: 50%;
        height: fit-content;
    }
    -------------------The gallery----------------------

    .image{
        width:50%;
        flex-wrap: wrap;
    }
    /*-------------------The icons service---------------------- */
    #serviceicons{
        margin: auto;
        height: 50%;
    }
    .serviceicon{
        width:25%;
        padding: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .serviceicon>img{
        width:8em;
        margin: auto;
    }
    .serviceicon>h5:focus{
        color: #d8bd71; /* for change the color of the text*/
    }
    .serviceicon>img:focus{
        filter: drop-shadow(8px 8px 10px #d8bd71);/* for make a shadow on the icon*/
    }
}




