*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    }
    .oswald-<uniquifier> {
        font-family: "Oswald", sans-serif;
        font-optical-sizing: auto;
        font-weight: <weight>;
        font-style: normal;
      }
:root {
    background-color: white;
    font-family: Oswald;
}

/*-----------------------------------The navbar/header-------------------------------------- */
header {
    background-color: black;
    width:100%;
    height: 100px;
    padding: 15px;
    display:flex;
    display: row;
    justify-content: space-between;
    align-items: center;
    /* for the navbar don't move*/
    position: fixed;
    top: 0;
    opacity: 60%; /* for see under the navbar*/
}
header>img {
    max-height: 1em;
}
header>nav{
    display:flex;
    flex-direction: row;
    color:white;
    height: 40%;
}
header>nav>a{
    margin: 5px;
    color:white;
    text-decoration: none; /* for  take off the highlighting*/ 
}
header>nav {
    min-height: 100%;
}
header>nav>a:hover, .logos>i:hover{
    color: #d8bd71; /* for change the color of the text*/
}
header>img:hover  { /* I don't arrive to make it work*/
    image-rendering: url(img/h4-logo-img-1.png);
}
.logos>i{
    color:white;
}
header>nav>a, i, header>img {
    height: 60%;
    transition-duration: 0.4s;
    cursor: pointer;/* change when the pointer is on it*/
    display: flex;
    align-items: center;
    
}

/*-----------------------------------The title-------------------------------------- */
.title{
    background-image: url(img/h5-gallery-img-3-477x477.jpg);
    background-repeat: no-repeat;
    border: 1px black solid;
    background-size: cover;
    height:100dvh; /* make the background color fit on the screen*/
}
.title>img {
    margin-left: auto;
    margin-top: 8em;
    padding-bottom: 0em;
    margin-right: auto;
    display: flex;
    align-items: center;
}

/*---------------------------------------------------The main------------------------------------------------------ */
main {
    width: 100%;
    border: 5px solid purple;
}
q{
    background-color:  #c59d5f;
    quotes: '"' '"' '"' '"';
    color:white;
    height:7em;
    padding:1.5em;
    font-size: 2.5em; 
    font-weight: bold;
    /* for the citation do a return */
    display: block; 
    align-content: center;
    
}
.traditionbeer, .pubstory{
    text-align: center;
    display: flex;  
    align-items: center; /* for center the text of the link part*/
    font-size: x-large; /* for grow the text*/
}
.traditionbeer>p , .pubstory>p{
    font-family: 'Raleway'; 
}
.traditionbeer>h5 , .pubstory>h5{
    font-family: 'Times New Roman', Times, serif; /* for change the police of the subtitle*/
    font-style: italic;
}
.traditionbeer>section>a, .pubstory>section>a{
    color: white;
    background-color: #d8bd71;
    padding: 0.5em;
    text-decoration: none;
    border-radius: 10%;
    padding-left: 2em;
    padding-right: 2em;
}
.traditionbeer>section>a:hover, .pubstory>section>a:hover{
    background-color: #ac8c5c;
}
.traditionbeer>img, .pubstory>img, {
    width: 50%;
}
.traditionbeer>section, .pubstory>section{
    width:50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3em;
}
.traditionbeer>img{
    background-image: url(img/h5-el-holder-img-1-1.jpg);
    width: 100svh;
    height: 100dvh;
}
.pubstory>img{
    background-image: url(img/h5-el-holder-img-2.jpg);
    height: 100dvh;
}



/*-------------------The gallery---------------------- */
.galerie{
    width:100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    background-size: 25% 100%;
}
.image{
    overflow: hidden;
    background-color: #d8bd71;
    position: relative;
    z-index: 1;
    width: 25%;
    /* background-image: url(img/croix.png); */
    background-size: 30% 30%;
    background-position: center;
    background-repeat: no-repeat;
}
.image :hover {
    scale:1.2;
    position: relative;

    z-index: 2; /* for move forward the background*/
    opacity: 50%;
}
.image>i{
    position: absolute;
    top: 45%; /* for put the icon on the center of the image*/
    left: 45%;
    font-size: xxx-large;
    z-index: 0;
    color:green;
    /* opacity: 0; */
    
}
.image:hover i{ /* for change the display of the i when I go hover the image */
    /* transition-duration: 1.5s, 1.5s;the time of transition when I pass hover and stop */
    transform: rotateZ(90deg);
    top: 20%;
    left: 20%;
    opacity: 100%;
    color: blue;
}

/*-------------------The services---------------------- */
.serviceicons{
    padding: 4em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
    height: 40vh;
}
.serviceicon {
    width:15%;
    text-align: center;
    background: none;
    overflow: hidden;
}
.serviceicon>h5{
    margin-top: 1em;
}
.serviceicon>h5:hover{
    color: #d8bd71; /* for change the color of the text*/
}
.serviceicon>img:hover{
    filter: drop-shadow(8px 8px 10px #d8bd71);/* for make a shadow on the icon*/
}



/*-------------------The parralaxe---------------------- */
.parallaxe{
    color:white;
    background-image: url(img/h5-parallax-img-2.jpg);
    background-attachment: fixed;/*for the background don't move when I move the page*/
    background-repeat: no-repeat;
    background-size: cover;
    height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center; /* for center the text horizontally*/
    justify-content: center; /* for center the text vertically*/
}
.parallaxe>h2{
    font-size: xxx-large;
}

/*-------------------The frame---------------------- */
.iframe{
    background-color: black;
    background-size: 100% 100%;
    width:100%;
    height: 90;
}
.iframe>img{
    width: 100%;
}

/*---------------------------------------------------Footer------------------------------------------------------ */
footer{
    background-color: black;
    text-align: center;
    
    height: 2.5em;

}